

<button onclick="descargarCsv()" class="btn btn-primary">Descargar Csv</button>

<script>

    function descargarCsv()
    {
        showLoading();

        let url = "@Url.Action("Exportar", "EjemploDescargaCsv")";
        let fecha = "16-02-2024";

        fetch(url, {
            method: "POST",
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: `fecha=${fecha}`
        })
        .then(res =>
        {
            if (!res.ok)
                throw Error(res.statusText);

            const header = res.headers.get("Content-Disposition");
            const contentType = res.headers.get("content-type");

            if (contentType && contentType.includes("json"))  // Si la respuesta es un error
            {
                res.json().then(data => alert(JSON.stringify(data)));
                return null;
            }

            const parts = header.split(";");
            filename = parts[1].split("=")[1].replaceAll("\"", "");
            return res.blob();
        })
        .then(blob =>
        {
            if (blob != null)
            {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement("a");
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                a.remove();
            }
        })
        .catch(() => alert("Se encontró un error al descargar el archivo csv"))
        .finally(() => hideLoading());
    }

    function showLoading() {

    }

    function hideLoading() {

    }

</script>

